# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
file = "../WeatherPy/output_data/cities.csv"

weather_df = pd.read_csv(file)
weather_df.head()

,City,Country,Temperature (F),Date,Humidity %,Cloud,Wind Speed,Lat,Lng
0,Busselton,AU,57.24,1613157827,89,0,11.54,-33.6500,115.3333
1,Lompoc,US,54.23,1613157828,62,20,17.27,34.6391,-120.4579
2,Nikolskoye,RU,0.68,1613157829,78,75,6.71,59.7035,30.7861
3,Adavere,EE,6.93,1613157830,85,90,3.44,58.7086,25.8994
4,Alofi,NU,78.80,1613157831,94,99,6.91,-19.0595,-169.9187

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Use the lat and lng columns as the locations variable
locations = weather_df[["Lat", "Lng"]]

# Use the humidity % column of the df as the weight variable
humidity = weather_df["Humidity %"]

In [24]:
# Generate the map
# From class discussion, it is important to set a center, and a zoom level to help make the map display properly
# Got the center and zoom_level values through trial and error
fig = gmaps.figure(center=(25.0, 15.0), zoom_level = 1.8)

# Generate a new layer on the map - Heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                 dissipating = False, max_intensity = 100,
                                 point_radius = 3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [39]:
# Per homework instructions, I will narrow down to cities with the following:
# Temp 80 > and < 70, Wind Speed < 10, Cloudiness = 0

# Start by dropping NA values
weather_df.dropna(inplace = True)

# Start by finding cities with the perfect temperature (Temp 80 > and < 70)
perfect_temperature = weather_df.loc[(weather_df["Temperature (F)"] <= 80) & (weather_df["Temperature (F)"] >= 70)]
perfect_temperature

,City,Country,Temperature (F),Date,Humidity %,Cloud,Wind Speed,Lat,Lng
4,Alofi,NU,78.80,1613157831,94,99,6.91,-19.0595,-169.9187
7,Cape Town,ZA,70.54,1613157542,83,20,19.57,-33.9258,18.4232
16,Port Alfred,ZA,73.00,1613157864,93,73,5.99,-33.5906,26.8910
23,Hermanus,ZA,72.00,1613157882,81,23,2.66,-34.4187,19.2345
24,Port Elizabeth,ZA,73.40,1613157885,94,75,20.71,-33.9180,25.5701
31,Puri,IN,71.60,1613157898,88,100,1.14,19.8000,85.8500
35,Mabaruma,GY,77.00,1613157905,88,75,13.80,8.2000,-59.7833
38,Kahului,US,72.01,1613157911,56,20,3.44,20.8947,-156.4700
42,Hilo,US,73.60,1613157784,50,1,2.17,19.7297,-155.0900
53,Mar del Plata,AR,70.18,1613157673,94,90,14.97,-38.0023,-57.5575
60,Ambon City,ID,78.80,1613157966,89,40,10.36,-3.6954,128.1814
63,Souillac,MU,77.00,1613157970,83,40,11.50,-20.5167,57.5167
69,Kapaa,US,72.61,1613157991,64,40,10.36,22.0752,-159.3190
79,Isangel,VU,77.00,1613158023,94,90,5.28,-19.5500,169.2667
82,Mindelo,CV,71.60,1613158036,73,75,27.63,16.8901,-24.9804
85,Rio Grande,BR,76.86,1613158040,73,40,13.80,-32.0350,-52.0986
87,Bredasdorp,ZA,71.60,1613158044,73,1,6.91,-34.5322,20.0403
89,Coyhaique,CL,75.20,1613158020,29,0,6.91,-45.5752,-72.0662
91,Salta,AR,78.80,1613158049,44,40,12.66,-24.7859,-65.4117
93,Coatepec Harinas,MX,72.75,1613158055,15,20,11.50,18.8949,-99.7215
98,Bambous Virieux,MU,77.00,1613158064,83,40,11.50,-20.3428,57.7575
99,Kruisfontein,ZA,78.01,1613158065,76,100,8.99,-34.0033,24.7314
100,Jizan,SA,78.80,1613158067,73,0,3.44,17.3333,42.6667
101,Necochea,AR,77.00,1613158068,72,100,10.00,-38.5473,-58.7368
108,Santo André,BR,77.14,1613158079,57,75,6.91,-23.6639,-46.5383
110,Jaguaruna,BR,79.00,1613158081,32,100,9.66,-28.6150,-49.0256
117,East London,ZA,77.00,1613157798,78,0,10.36,-33.0153,27.9116
124,Saint-Philippe,RE,74.01,1613158104,65,40,12.66,-21.3585,55.7679
132,Knysna,ZA,71.60,1613158119,94,75,4.61,-34.0363,23.0471
133,Carnarvon,AU,75.20,1613158121,100,28,9.22,-24.8667,113.6333
135,Grand Gaube,MU,77.00,1613158127,79,50,4.00,-20.0064,57.6608
137,Tallahassee,US,76.48,1613158131,69,90,1.72,30.4383,-84.2807
140,Katherine,AU,77.00,1613158093,94,75,1.14,-14.4667,132.2667
152,Chicama,PE,77.00,1613158175,78,36,12.66,-7.8447,-79.1469
156,San Fernando,PH,75.20,1613158185,78,75,4.61,15.0286,120.6898
165,Mahébourg,MU,77.00,1613158209,83,40,11.50,-20.4081,57.7000
169,La Providencia,MX,75.00,1613158219,32,90,13.00,28.7167,-111.5833
172,Cabo San Lucas,MX,70.38,1613158055,60,1,11.50,22.8909,-109.9124
182,Pontianak,ID,75.20,1613158252,100,100,3.44,-0.0333,109.3333
192,Florianópolis,BR,77.97,1613158268,88,75,9.22,-27.6146,-48.5012
199,Esmeraldas,BR,70.97,1613158288,94,75,6.91,-19.7625,-44.3139
202,Sibu,MY,75.07,1613158295,100,20,0.92,2.3000,111.8167
216,Inhambane,MZ,78.39,1613158327,89,75,17.27,-23.8650,35.3833
240,Banjar,ID,77.00,1613158392,94,75,2.30,-8.1900,114.9675
242,Salalah,OM,73.40,1613158396,49,0,3.44,17.0151,54.0924
249,Coihueco,CL,77.00,1613158159,53,75,4.61,-36.6167,-71.8333
254,Río Gallegos,AR,75.20,1613158429,20,0,10.36,-51.6226,-69.2181
263,Kattivākkam,IN,71.60,1613158459,83,20,2.30,13.2167,80.3167
267,Tan An,VN,75.20,1613158184,83,40,9.22,10.5333,106.4167
269,Nieuw Amsterdam,SR,79.79,1613158471,83,40,9.22,5.8833,-55.0833
270,Martapura,ID,75.20,1613158472,100,75,3.44,-3.4167,114.8500
272,Mhlume,SZ,73.00,1613158478,95,100,7.05,-26.0333,31.8500
289,Hervey Bay,AU,70.00,1613158436,79,51,3.53,-25.2986,152.8535
292,Alta Floresta,BR,78.80,1613158523,89,75,4.61,-9.8756,-56.0861
298,Padang,ID,75.20,1613158541,88,90,2.30,-0.9492,100.3543
313,Itajaí,BR,75.20,1613158580,94,40,6.91,-26.9078,-48.6619
314,Quatre Cocos,MU,77.00,1613158581,83,40,11.50,-20.2078,57.7625

In [36]:
weather_df.dtypes

City                object
Country             object
Temperature (F)    float64
Date                 int64
Humidity %           int64
Cloud                int64
Wind Speed         float64
Lat                float64
Lng                float64
dtype: object

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure